# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules
npm-debug.log
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
dev/*
dist/*